@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* DEFINICION DE VARIABLES */
:root {
    --color-background: linear-gradient(180deg,
            #d9afd9 0%,
            #ffffff 33%,
            #97d9e1 66%,
            #ffffff 100%);
    --color-background-cajas: #c0d0d7ec;
    --color-background-cards: radial-gradient(circle farthest-corner at 54.5% 94.8%, rgba(227, 250, 251, .7) 0.4%, rgba(226, 241, 233, .8) 28.4%, rgba(198, 231, 215, .5) 58.4%, rgba(245, 237, 253, .9) 90%);

    --color-background-footer: #917ce2fe;
    --color-background-header: rgb(0, 0, 0);
    --color-buttons: rgb(146, 146, 218);
    --color-buttons-hover: #49316d;
    --color-fonts: #4c4b4b;
    --font-titulo: "Amaranth", sans-serif;
    --font-texto: "Alegreya", serif;
    --font-size_titulo: 1rem;
    --font-size_texto: clamp(1rem, 2vw+1rem, 3rem);
}

/* quita botones de +/- en input tipo number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* FIN DE DEFINICION DE VARIABLES */

/* ESTILOS DE LA PAGINA */
html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    min-height: 100dvh;
    min-width: 100dvw;
    overflow-x: hidden;
    font-family: var(--font-texto);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

/* Estilos header */
.header {
    background-color: var(--color-background-header);
    font-family: var(--font-titulo);
}

.header--list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header--img-logo {
    width: 8rem;
    top: 0;
    left: 0;
}

.header--img {
    width: 1rem;
}

.acciones--lista {
    display: flex;
    flex-direction: row;
    padding: .7em;
    gap: .2em;
}

.acciones--item {
    border: solid .08em rgb(255, 255, 255);
    padding: .4em .2em;
    margin: .8em auto;
}

/* Fin Estilos header */
/* Estilos grilla productos */

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    font-family: var(--font-texto);
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
    justify-content: center;
}

.card img {
    width: 20em;
    padding: 1em;
    height: auto;
}

.card {
    background-color: #d9afd9;
    flex-basis: 60%;
    margin: .8em;
    padding: .6em .9em;
    height: auto;
}

.main h1 {
    display: inline-flex;
    align-self: center;
}


/* Fin Estilos grilla productos */

/* Estilos formulario productos */
form[data-form] {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 3em auto;
    padding: .4em 1em;
    border: #4c4b4b 2px solid;
    background-color: var(--color-background-footer);
}

form[data-form] img {
    width: 4em;

}

form[data-form] input {
    display: flex;
    width: 30em;
}

form[data-form] button {
    background-color: var(--color-buttons);
    display: flex;
    align-self: center;
    width: 13em;
    margin-top: 2em;
    padding: .6em .9em;
}

/* Fin Estilos formulario productos */

/* Estilos footer */
.footer {
    background-color: var(--color-background-footer);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--font-titulo);
    height: auto;
    bottom: 0;
    position: fixed;
    width: 100dvw;
}

.footer--redes-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer--redes-item {
    margin: 0 0.8em;
    align-self: center;
}

.icono--footer {
    width: 2em;
}

/* Fin Estilos footer */

/* Estilos para medianos */
@media (min-width: 769px) and (max-width: 1024px) {
    .card {
        flex-basis: 45%;
        /* Mostrar 3 items por fila en dispositivos medianos */
    }
}


/* estilos para desktop */
@media (min-width: 1025px) {
    .header--list {
        display: flex;
        justify-content: space-between;
        color: white;
    }

    .header h1 {
        display: block;
        color: white;
    }

    #search-item {
        display: inline;
    }

    #botonBuscar {
        display: inline;
    }

    .card {
        flex-basis: 30%;
    }

    /* .header--img-logo {
        width: 10rem;
    } */

    /* Estilos grilla productos */

    form[data-form] {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 3em auto;
        padding: .4em 1em;
        border: #4c4b4b 2px solid;
        background-color: rgba(147, 133, 238, 0.872);
    }

    form[data-form] img {
        width: 3em;
    }




    .footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        height: auto;
        padding-top: 1em;
    }

    .acciones--item span {
        display: inline;
    }


}